<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ site.baseurl }}/css/globofcrap/css3_grid_style1.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/globofcrap/bootstrap.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/globofcrap/icon-font.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/globofcrap/wp-common.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/globofcrap/custom.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/globofcrap/layout.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/globofcrap/contacts.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/globofcrap/faq.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/globofcrap/sponsor.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/globofcrap/stylesheet.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <script src="/js/modernizr-2.6.2.min.js"></script>
  </head>
  <body class="startupla">
    <div class="custom-block">
      <header class="header-10">
       <div class="container">
         <div class="row">
           <div class="navbar col-sm-12" role="navigation">
             <div class="navbar-header">
               <button type="button" class="navbar-toggle"></button>
               <a class="brand" href="/"><img src="{{ site.baseurl }}/images/logo.png" alt="GrassRoots" height="130" width="130"></a>
             </div>
             <div class="collapse navbar-collapse pull-right">
               <div class="pull-left">
                 <ul class="nav">
                   <li><a href="{{ site.baseurl }}/#about">About</a> </li>
                   <li><a href="{{ site.baseurl }}/blog">Blog</a> </li>
                   <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                   <li><a href="{{ site.baseurl }}/faq">FAQ</a> </li>
                   <li><a href="{{ site.baseurl }}/sponsor">Sponsor</a></li>
                   <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">People <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{{ site.baseurl }}/people#judges">Judges</a></li>
                      <li><a href="{{ site.baseurl }}/people#mentors">Mentors</a></li>
                      <li><a href="{{ site.baseurl }}/people#organizers">Organizers</a></li>
                    </ul>
                  </li>
                 </ul>
               </div>
               <form class="navbar-form pull-left" action="" style="margin-top:10px">
                 <a href="http://www.brownpapertickets.com/event/1373803">
                 <button type="button" class="btn btn-success">Register Now!
                 </button></a>
               </form>
             </div>
           </div>
         </div>
       </div>
       <div class="header-background">
       </div>
     </header>
   </div>
    {{ content }}
    <div class="custom-block">
      <footer class="footer-2 bg-midnight-blue">
         <div class="container">
           <nav class="pull-left">
             <ul>
               <li><a href="{{ site.baseurl }}/#about">About</a></li>
               <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
               <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
               <li><a href="{{ site.baseurl }}/faq">FAQ</a></li>
               <li><a href="{{ site.baseurl }}/sponsor">Sponsor</a></li>
               <li><a href="http://confcodeofconduct.com/">Code of Conduct</a></li>
             </ul>
           </nav>
           <div class="pull-right">{% include svg-icons.html %}</div>
         </div>
       </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.scrollTo.min.js"></script>
    <script src="/js/main.js"></script>
    {% include analytics.html %}
  </body>
</html>
