---
layout: default
---
<article id="post-97" class="post-97 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
  <div class="top">
    <div class="post-container">
      <div class="header-text">
        <header class="entry-header">
          <div class="entry-thumbnail img"
          style="background-image: url('/images/{{ page.image }}');"></div>
          <div class="date">{{ page.date | date: "%B %e, %Y" }}</div>
          <h1 class="entry-title">{{ page.title }}</h1>
          <div class="author"><span>by </span>{{ page.by }}</div>
        </header>
      </div>
    </div>
  </div>
<div class="entry-content">
    <p><strong>{{ page.title }}</strong></p>
    {{ content }}
</div>
 {% include disqus.html %}
</article>
