---
layout: default
---
<article id="post-97" class="post-97 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized container">
  <div class="row">
    <div class="top col-md-offset-3 col-md-6">
      <div class="post-container">
        <div class="header-text">
          <header class="entry-header">
            <div class="entry-thumbnail img"
            style="background-image: url('/images/{{ page.image }}');"></div>
            <div class="date">{{ page.date | date: "%B %e, %Y" }}</div>
            <h1 class="entry-title"><strong>{{ page.title }}</strong></h1>
            <div class="author"><span>by </span><em><strong>{{ page.by }}</strong></em></div>
          </header>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="entry-content col-md-offset-3 col-md-6">
        {{ content }}
    </div>
  </div>
 {% include disqus.html %}
</article>
